<html>
<head>
<title>forgot password</title>
<style>
img{
    width:7%;
    height:10%;
    float:left;
    background-color:white;
    }
	
 h1{
   backgroun-color:green;
   padding-top: 2px;
    }

body{
border-style:solid;
margin-left:10%;
margin-right:10%;
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwZS3X0cZMjYyKTV3gVaL29J61bVaH_kgoDA&usqp=CAU");
background-size:100%;
}

p{
padding-left:2%;
}

#form{
padding-left:2%;
}

.head{
color:white;
background-color:black;
}

</style>
</head>
<body>
<div class="head">
<img src="https://media1.giphy.com/media/l1KVccToDJ6oz6qYg/giphy.gif">
          <h1>IGem</h1><br><br>
</div>		  
<p>Hi user!<br> Enter username here:.You will be sent a link to change password on your mail id.</p>
<form id="form" method="POST" action="/Forgot/">{% csrf_token %}
<label for="user">Username:</label>
 <input type="text" id="user" name="uname"><br><br>
 <input type="submit" value="submit">
 
</form>
</body>
</html>